* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0,  0.5), rgba(20, 0, 0, 0.1)), url(images/gem3.jpg);
    background-position:absolute;
    background-size: cover;
    position:relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    border-radius: 30%;
}
.nav-links{
    flex: 1;
    text-align: right;  
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0f15e7;
    display: block;
    margin: auto;
    transition: 0.5s;
}   
.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    font: 200;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}
.hero-btn{
    display: flexbox;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: tranparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #3112f3;
    background: #2e11ea;
    transition: 1s;
}

nav .fas{
    display: none;
}

/* For Small device */
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0b0f86;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
        
    }
    .row{
        flex-direction: column;   
    }
    .testimols-col img{
    margin-left: 0.1px;
    margin-right: 15px;
    
    }
}
/* ----Body backround---*/

.body-bk{
    background-image: url(images/Backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
/*------ Curriculum ------*/
.curriculum{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.curriculum-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.curriculum-col img{
    width: 80%;
    border-radius: 20px;
}    
    
    
/*-------- Departments ----------*/

.department{
    width: 80%;
    margin: auto;
    text-align: center;
    /*-- padding-top: 100%;---*/
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: Times New Roman;
    
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*-- Tobe Checked---*/

.department-col{
    flex-basis: 19%;
    border-radius: 20px;
    margin-bottom: 5%;
    padding:inherit; 
    box-sizing: 20;
    transition: 0.5s;
        
} 

.science{
    flex-basis: 19%;
    background: rgba(106, 223, 190, 0.86);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: inherit;
    box-sizing: 10;
    transition: 0.5s;
        
}

.sesotho{
    flex-basis: 19%;
    background: rgba(88, 92, 200, 0.86);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: inherit;
    box-sizing: 20;
    transition: 0.5s;
    
}

.accounts{
    flex-basis: 19%;
    background: rgba(223, 106, 221, 0.86);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: inherit;
    box-sizing: 10;
    transition: 0.5s;
    
}
.social-science{
    flex-basis: 19%;
    background: rgba(63, 204, 198, 0.86);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: inherit;
    box-sizing: 10;
    transition: 0.5s;
    
}

.practicals{
    flex-basis: 19%;
    background: rgba(223, 192, 106, 0.86);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: inherit;
    box-sizing: 10;
    transition: 0.5s;
} 


h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.science:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    
}
.sesotho:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}
.social-science:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}
.accounts:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}
.practicals:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}
/*-------faccilities-----*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.facilities p{
    color: #1828bd;
    font-family: Times New Roman;
    font-size: 18px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    
}

.facilities-col p{
    padding: 0;
    color: #1a12eb;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*-----Testimonials------*/
.testmonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimols-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #bdf4ee;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimols-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimols-col p{
    padding: 0;
    
}

.testimols-col h3{
    margin-bottom: 15px;
    text-align: left;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.copyright{
    width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

a {    
  margin: 10px;
  text-decoration: none;
  width: 30px;    
}
a:hover {
  color: #0077ff;
}

/* --- WhatsApp------ */

.back-to-top img{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}


.back-to-top img:hover {
          background-color: #0d7d38;
        }

.headimg{
    border-radius: 50px;    /*-- tobe checked--*/
}

.copyright a{
    color: darkblue;
}

/*---------------- About Us page --------*/

.sub-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.5)),url(images/graduation.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffff;
}

.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    text-align: center;
    flex-basis: 48%;
    padding: 30px 2px;
    

}

.about-col img{
    width: 70%;
    border-radius: 10px;
}

.about-col h1{
    padding: 0;
    
}

.about-col p{
    text-align: left;
    padding: 15px 0 25px;
    font-size: 20px;
}
.motto h1{
    text-align: left;
}












